<div class="contenedor">
  <h2>Listado de Tarjetas</h2>
  <div class="tabla">
    <table mat-table  class="mat-elevation-z8">
<!--  [dataSource]="dataSource"-->
      <!-- Position Column -->
      <ng-container matColumnDef="titular">

        <td mat-cell *matCellDef="let element"> tomas</td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="numeroTarjeta">
 
        <td mat-cell *matCellDef="let element"> 123789456123</td>
      </ng-container>
    
      <!-- fecha de Expiracion Column -->
      <ng-container matColumnDef="fechaExpiracion">
 
        <td mat-cell *matCellDef="let element"> 16/12 </td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </div>
</div>